PORT=3333
HOST=0.0.0.0
NODE_ENV=development
APP_KEY=OE-5GiLyvZkePqVIVMpH4BXb15HtCZ9H
DRIVE_DISK=local

DB_CONNECTION=mysql
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=secret
MYSQL_DB_NAME=ifilmes

IMDB_API_KEY=335c0da8
IMDB_URL=https://www.omdbapi.com/?apikey=${IMDB_API_KEY}&
SESSION_DRIVER=cookie